<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    {% block style %}
        <link rel="stylesheet" href="{{ asset('bundles/taskplanner/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/taskplanner/css/style.css') }}">
        <link href='https://fonts.googleapis.com/css?family=Raleway:500' rel='stylesheet' type='text/css'>
    {% endblock %}
</head>
<body>
<div>
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="{{ path('taskplanner_default_index') }}">TaskPlanner</a>
            </div>
            <div>
                <ul class="nav navbar-nav">
                    <li class="active"><a href="{{ path('taskplanner_default_index') }}">Home</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{{ path('fos_user_profile_show') }}"><span
                                    class="glyphicon glyphicon-user"></span> {{ app.user.username }}'s Profile</a>
                    </li>
                    <li><a href="{{ path('fos_user_security_logout') }}"><span
                                    class="glyphicon glyphicon-log-out"></span> {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                        </a></li>
                </ul>
            </div>
        </div>
    </nav>

<!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- AJAX -->
            </div>
        </div>
    </div>

    <div class="container">
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </div>
{% else %}
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">TaskPlanner</a>
            </div>
            <div>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{{ path('fos_user_registration_register') }}"><span
                                    class="glyphicon glyphicon-user"></span> Sign up</a></li>
                    <li><a href="{{ path('fos_user_security_login') }}"><span
                                    class="glyphicon glyphicon-log-in"></span> {{ 'layout.login'|trans({}, 'FOSUserBundle') }}
                        </a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="jumbotron">
            <h1>TaskPlanner</h1>

            <p>TaskPlanner helps you organize your life by letting you create tasks organized by categories.<br>
                You can even comment progress of your tasks.</p>
        </div>
        <div class="row">
            <div class="col-sm-offset-4 col-sm-4">
                <div class="panel panel-default panelMain">
                    <div class="panel-heading panelMainHeading">

                        <h2 class="text-center">Let's get started!</h2>

                    </div>
                    <div class="panel-body">
                        <div class="col-sm-11">
                            <button type="button" class="btn btn-primary btn-block main" data-toggle="modal"
                                    data-target="#loginModal"><span
                                        class="glyphicon glyphicon-log-in"></span> {{ 'layout.login'|trans({}, 'FOSUserBundle') }}
                            </button>
                        </div>
                        <div class="col-sm-11">
                            <a href="{{ path('fos_user_registration_register') }}">
                                <button type="button" class="btn btn-primary btn-block main"><span
                                            class="glyphicon glyphicon-user"></span> Sign up
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Login Modal -->
        <div id="loginModal" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <!-- Login Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Log in</h4>
                    </div>
                    <div class="modal-body">
                        {{ render(controller("FOSUserBundle:Security:login")) }}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>
        {% endif %}
    </div>

    {% for type, messages in app.session.flashBag.all %}
        {% for message in messages %}
            <div class="{{ type }}">
                {{ message|trans({}, 'FOSUserBundle') }}
            </div>
        {% endfor %}
    {% endfor %}

    <div>
        {% block fos_user_content %}
        {% endblock fos_user_content %}
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="{{ asset('bundles/taskplanner/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('bundles/taskplanner/js/ajax.js') }}"></script>
</body>
</html>