{% block body -%}
    <!-- Modal button (new category) -->
    <button type="button" name="{{ path("category_new") }}" class="ajaxModalButton btn btn-primary btn-block main"
            data-toggle="modal" data-target="#ajaxModal">
        Add a category
    </button>

    <hr>
    <ul class="nav nav-pills">
        <li type="button" name="{{ path("task") }}" class="active categoryButton categories btn btn-info"><a
                    data-toggle="pill" href="">All tasks</a></li>
        {% for category in entities %}

            <button name="{{ path("category_show", {"id": category.id}) }}"
                    class="categoryButton categories btn btn-info">
                <span class="badge">{{ category.tasks|length }}</span> {{ category.name }}
            </button>

        {% endfor %}
    </ul>
{% endblock %}
