{% block body -%}
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                <div class="col-sm-4">
                    <h2 class="tasks">{{ entity.name }} tasks <span class="badge">{{ entity.tasks|length }}</span></h2>
                </div>
                <div class="col-sm-offset-6 col-sm-2">
                    <!-- Modal button (new task) -->
                    <button type="button" name="{{ path("task_new") }}"
                            class="ajaxModalButton btn btn-primary btn-block main" data-toggle="modal"
                            data-target="#ajaxModal">
                        Add a task
                    </button>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <div class="panel-group" id="accordion">
                {% for task in entity.tasks %}
                    {% if task.isFinished %}
                        <del>
                    {% endif %}
                    <div class="panel panel-default">
                        <div class="panel-heading accordion">
                            <h4 class="panel-title tasks">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{ task.id }}">
                                    {{ task.name }}</a>
                            </h4>
                            <h6 class="tasks">
                                Deadline: {{ task.toBeFinishedAt|date('Y-m-d H:i:s') }} | Created
                                at: {{ task.createdAt|date('Y-m-d H:i:s') }} |
                                Priority:
                                {% for point in range(1, task.priority) %}
                                    <span class="glyphicon glyphicon-flash"></span>
                                {% endfor %}
                            </h6>
                        </div>
                        <div id="collapse{{ task.id }}" class="panel-collapse collapse">
                            <div class="panel-body">
                                <div class="well break-words">{{ task.description }}</div>
                                {% if task.comments|length > 0 %}
                                    <div class="panel-group">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">
                                                    <a data-toggle="collapse" href="#collapse{{ task.id }}comments">Comments</a>
                                                    <span class="badge">{{ task.comments|length }}</span>
                                                </h4>
                                            </div>
                                            <div id="collapse{{ task.id }}comments" class="panel-collapse collapse">
                                                <ul class="list-group">
                                                    {% for comment in task.comments %}
                                                        <li class="list-group-item">{{ comment.content }}</li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                                <!-- Modal button (new comment) -->
                                <button type="button" name="{{ path("comment_new", {"taskId": task.id}) }}"
                                        class="ajaxModalButton btn btn-primary btn-block main" data-toggle="modal"
                                        data-target="#ajaxModal">
                                    Add a comment
                                </button>
                            </div>
                        </div>
                    </div>
                    {% if task.isFinished %}
                        </del>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="panel-footer"></div>
    </div>
{% endblock %}
